/* You can add global styles to this file, and also import other style files */
.mat-simple-snackbar-action .mat-button {
  color: white !important
}
td-breadcrumb .td-breadcrumb-separator-icon.mat-icon-no-color {
 display: none !important
}
td-breadcrumbs {
  margin-left: 15px
}
